/release.md
/data-raw/
/inst/doc/

# History files
.Rhistory
# Session Data files
.RData
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Emacs backup files
*~
